<%- include('./head') %>
<main>
    <section><h1>detailpagina</h1></section>

    <section class="method-info">
        <div class="method-categories">

        </div>
        <div class="method-info-text">
        </div>

    </section>

</main>
<%- include('./foot') %>