<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Thinking in het HBO</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/7b7fa7c68b.css" crossorigin="anonymous">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://use.typekit.net/brx3lyu.css" />
    <!-- rigid square font -->
    <link rel="stylesheet" href="https://use.typekit.net/kdb0mcl.css" />
    <!-- yrsa font -->
</head>

<body>

<header>
    <img class="logo" src= "./visual-thinking-logo.svg" alt="visual thinking logo">
      <h1>Visual Thinking in het hbo</h1>
</header>


