<%- include('./head') %>

<main>

    <section class="filter-searchbar">
    <div class="searchbar">
        <input type="text" placeholder="zoeken..">
    </div>
    <div class="filter">
        <button>filter</button>
    </div>
    </section>
    <hr>


    <section class="method-container">
      <% methods.forEach(method=> { %>
        <article> 
            <h2><%= method.title %></h2>
            <div class="categorie-container">
                 <% method.categories.forEach(categorie=> { %>
                <div class="categorie-card">
                <h3> <%= categorie.title %></h3>
              <div class="categorie-img"></div>
            </div>
           </div>
        </article>  

        <% }) %>
        <% }) %>
    </section>

</main>


<%- include('./foot') %>