<%- include('./head') %>

<main>

    <section class="filter-searchbar">
    <div class="searchbar">
        <input type="text" placeholder="zoeken..">
    </div>
    <div>
        <button class="filter">filter</button>
    </div>
    </section>
  


    <section class="method-container">
      <% methods.forEach(method=> { %>
        <article class="method-card"> 
            <h2><%= method.title %></h2>
            <img class="method-img" src="<%= method.template.url %>">
        </article> 
        <% }) %>
    </section>

</main>


<%- include('./foot') %>