:root{
 --text-color:#090940;
 --background-color:rgb(255, 255, 255);
 --rigid: rigid-square, sans-serif;
 --broodtekst:"yrsa","Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;

}


 body{
    background-color: var(--background-color);
    color: var(--text-color); 
} 

h1{
    font-family: var(--rigid);
}

p{
    font-family: var(--broodtekst);
}