:root{
/* primaire kleuren */
    /* donkerblauw */
 --text-color:#090940;
 --text-color-var01:#3a3a66;
 --text-color-var02:#6b6b8c;
 --text-color-var03:#9d9db3;
 --text-color-var04:#ceced9;

/* tekstvlakken of stroken */
   /*lichtblauw */
--text-stroke-color:#67c5d1;
--text-stroke-color-var01:#85d1da;
--text-stroke-color-var02:#a4dce3;
--text-stroke-color-var03:#c2e8ed;
--text-stroke-color-var04:#e1f3f6;

   /* rood */
--text-stroke-color-var05:#f96c4f;
--text-stroke-color-var06:#fa8972;
--text-stroke-color-var07:#fba795;
--text-stroke-color-var08:#fdc4b9;
--text-stroke-color-var09:#fee2dc;

/* interactieve elementen */
  /* geel */
--interactive-el-color:#feb51e;
--interactive-el-color-var01:#fec44b;
--interactive-el-color-var01:#fed378;
--interactive-el-color-var01:#ffe1a5;
--interactive-el-color-var01:#fff0d2;


 --background-color:white;

 /* fonts */
 --rigid: rigid-square, sans-serif;
 --broodtekst:"yrsa","Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;

}


.logo{
    width: 10em;
    height: 12em;
}


 body{
    background-color: var(--background-color);
    color: var(--text-color); 
    margin-left: 2em;

} 

/* headings */

h1{
    font-family: var(--rigid);
    font-size: 35px;
}

h2{
    font-family: var(--rigid);
    font-size: 25px;
}



/* head */

.header-top{
    display: flex;
    flex-direction: row;
    gap: 35%;
}

.icons{
    display: flex;
    gap: 1em;
}

.icons i{
    margin-top: 0.6em;
    color: var(--text-color);
    font-size: 24px;
}

.icons i:hover{
    color: var(--interactive-el-color);
}

.logo{
    margin-top: -2em;
}

.homepage-text{
    margin-left: 3em;
    width: 20em;
    text-align: center;
}


p{
    font-family: var(--broodtekst);
}


.emphasis{
    color: lightslategray;

}




/* overzichtspagina */

.searchbar-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.search-button{
    height: 1.6em;
    width: auto;
    font-family: var(--rigid);
    background-color:var(--text-color);
    color: var(--text-color-var04);
    border:none;
}


.search-button:hover{
    background-color: var(--interactive-el-color);
    color: var(--text-color);
}

.line{
    height: 0.1em;
    width: 87vw;
    background-color: var(--interactive-el-color);
}

.filter-container{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.filter-container i{
    font-size: 24px;
    color: var(--text-color);
}

.filter-container i:hover{
    color:var(--interactive-el-color);
}

.method-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 1em;
}

.method-card{
height: 20em;
width: 100%;
}

.method-img{
height: 15em;
width: auto;
}


/* footer */

footer{
    margin-top: 1em;
    height: 3em;
    width: 89vw;
    background-color:var(--interactive-el-color);
}



/* mobile */
@media screen and (min-width: 600px) {

/* index */
/* overzichtspagina */

 .method-card{
    width: 40%;
 }
}


/* laptop */
@media screen and (min-width:800px) {

/* head */
.header-top{
    gap: 80%;
}

/* index */

/* footer */
footer{
    width: 95vw;
}

 /*overzichtspagina */
 .line{
    width: 95vw;
 }
}
